<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    <form action="/editor" method="POST">
        <div>   
            <select name="language">
                <option value="C">C</option>
                <option value="CPP">CPP</option>
                <option value="PY">PY</option>
                <option value="JAVA">JAVA</option>
            </select>
            <textarea name="code" id="" cols="30" rows="10"></textarea>
            <button type="submit">Run Code</button>
        </div>
        <textarea>
            {{ .Msg }}
        </textarea>
    </form>
   
    <br>
    <div>
        
    </div>
</body>
</html>